<main class="main">
  <div class="inner">
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
       <%= render partial: 'miniroom', collection: @minirooms %> 
    </div>
  </div>
</main>