   <div class="card__body">
 <div class='donation-img-content'>
 <%= link_to image_tag(donation.image, class: "donation-img" ), donation_path(donation.id), method: :get %> <br>
         <% if donation.receive.present? %>  
          <div class='out'>
            <span>あげちゃった!!</span>
          </div>
     <% end %> 

    <%= link_to donation.name, donations_path(donation.id), class: :card__title%><br>
 <%= link_to "/#{donation.user.nickname}さん", "/users/#{donation.user.id}" , class: :card__user %>  
  </div>
</div>