.pagetop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 15px;
}
.pagetop a {
  display: block;
  background-color: green;
  text-align: center;
  color: #da6666;
  font-size: 12px;
  text-decoration: none;
  padding: 5px 10px;
filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.pagetop a:hover {
  display: block;
  background-color: #da6666;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding:5px 10px;
filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}