/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;

}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #22693c;
  margin-bottom: 48px;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 300px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #da6666 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #128b28;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #da6666 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__logout:hover{
  /* opacity: 0.5; */
  color: #fff;
  background: #128b28;
}

.field, .actions{
  display: inline-block;
  padding: 0.4em 1.6em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #22693c;
  border: 3px #da6666 solid;
  border-radius: 3px;

  font-size: 15px;
  width: 230px;
  letter-spacing: 0.1em;
  margin: 0 auto 20px auto;
  padding: 10px 0 10px 0;
  text-align: center;
}

.or-text{
  color: green;
}

.minimalist{
  display: flex;
}

.miniroom__wrapper, .miniroom__hedding,.detail__message {
  text-align: center;
  display: inline-block;
    border: 3px #da6666 solid;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin: 20px 0px;
    padding: 2vh 10vw;
}

.donation-btn-text{
  border: 3px #da6666 solid;
  text-align: center;
  width: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: green;
  margin: 20px 0px;
  padding: 2vh 10vw;
  font-size: 20px;
  font-weight: bold;
}

.donation-main{
  display: inline-block;
  justify-content: center;
  color: #fff;
  background: #22693c;
  border: 3px #da6666 solid;
  border-radius: 3px;

  font-size: 15px;
  width: 500px;
  letter-spacing: 0.1em;
  margin: 0 auto 20px auto;
  padding: 0px 0 10px 0; 
  text-align: center;
}

.card__body{
  border: 3px #da6666 solid;
  margin: 0 0 20px 0;
  width: 300px;
  padding: 10px 10px; 
  font-weight: bold;
  color: green;
}

/* フッター */
.footer {
  background-color: rgb(232, 168, 168);
  padding: 10px 0;
  width: 100%;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

.search-form {
  text-align: center;
}

.search-form .search-input {
  width: 30%;
  margin-right: 10px;
  border: 3px green solid;
}

.search-form .search-btn {
  width: 10%;
}

form input[type="submit"] {
  background-color: #da6666;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.right-btn{
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 5px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}
